.blog-article h1, .blog-article h2 {
  font-size: 2.5rem; /* aumenta o título */
  color: #c30000;
}

.blog-article p {
  font-size: 1.6rem; /* aumenta o texto */
  text-align: justify;
}

.blog-article img {
  max-width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
  height: auto;
  max-height: 450px;
}
 .blog-article img {
      max-width: 100%;
      border-radius: 12px;
      margin-bottom: 20px;
    }
    .blog-article h1, .blog-article h2 {
      color: #c30000;
    }
    .blog-article p {
      text-align: justify;
    }
    .blog-article li {
  font-size: 1.5rem;
  margin-bottom: 8px;
}